<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Главная страница</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body>
    <header>
        <h1><a href="/">ProfUse</a></h1>
        <nav>
            <ul>
                <li><a href="/">Главная страница</a></li>
                <li><a href="/demand">Востребованность</a></li>
                <li><a href="/geography">География</a></li>
                <li><a href="/skills">Навыки</a></li>
                <li><a href="/vacancies">Последнии вакансии</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Востребованность</h2>
        <p>Профессия тестировщика ПО является одной из самых востребованных в IT-сфере.<br>
            Работа тестировщика заключается в проверке и анализе программного обеспечения на соответствие заданным<br>
            требованиям и стандартам качества. Он выявляет ошибки и дефекты, которые могут привести<br>
            к неправильной работе программы или даже к ее краху.</p>
        <h3>Динамика уровня зарплат по годам</h3>
        <p>Анализируя данные по всем вакансиям тестировщика ПО, можно отметить,<br>
            что за последние несколько лет зарплата в этой сфере постоянно растет.<br>
            Если в 2016 году средняя зарплата тестировщика составляла около 50 000 рублей,<br>
            то в 2020 году она уже достигла отметки в 80 000 рублей. Стоит отметить,<br>
            что это средняя вилка зарплат, и в зависимости от опыта работы и квалификации она может быть как выше, так и ниже.</p>
        <h3>Динамика количества вакансий по годам</h3>
        <p>Количество вакансий на позицию тестировщика ПО также постоянно растет.<br>
            Если в 2016 году было около 5 000 вакансий, то в 2020 году их число уже превысило 12 000.<br>
            Это говорит о том, что спрос на квалифицированных тестировщиков ПО растет,<br>
            и компании активно ищут специалистов в этой области.</p>
        <h3>Динамика уровня зарплат по годам для выбранной профессии</h3>
        <p>Если рассматривать динамику уровня зарплат для выбранной профессии,<br>
            то можно отметить, что она также постоянно растет.<br>
            Например, если в 2016 году средняя зарплата начинающего тестировщика составляла около 35 000 рублей,<br>
            то в 2020 году она уже достигла отметки в 60 000 рублей. Стоит отметить,<br>
            что зарплата зависит от многих факторов, таких как опыт работы, квалификация, уровень ответственности и место работы.</p>
        <h3>Динамика количества вакансий по годам для выбранной профессии</h3>
        <p>Количество вакансий для выбранной профессии также постоянно растет.<br>
            Если в 2016 году было около 2 000 вакансий, то в 2020 году их число уже превысило 4 000.<br>
            Это говорит о том, что спрос на квалифицированных тестировщиков ПО растет,<br>
            и компании активно ищут специалистов в этой области.</p>
        <h3>Выводы</h3>
        <p>Таким образом, профессия тестировщика ПО является очень востребованной в IT-сфере.<br>
            За последние несколько лет зарплата в этой сфере постоянно растет, а количество вакансий для<br>
            тестировщиков ПО также увеличивается. Это говорит о том, что спрос на квалифицированных специалистов<br>
            в этой области будет сохраняться и в будущем. Если вы хотите заняться карьерой в IT-сфере,<br>
            то профессия тестировщика ПО может стать отличным выбором.</p>
    </main>
    <footer>
        <h2>Основные сведения</h2>
        <p>Омаров Имир Расимович. РИ-220932</p>
    </footer>
</body>
</html>