<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Главная страница</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body>
    <header>
        <h1><a href="/">ProfUse</a></h1>
        <nav>
            <ul>
                <li><a href="/">Главная страница</a></li>
                <li><a href="/demand">Востребованность</a></li>
                <li><a href="/geography">География</a></li>
                <li><a href="/skills">Навыки</a></li>
                <li><a href="/vacancies">Последнии вакансии</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>География</h2>
        <h3>Уровень зарплат по городам</h3>
        <p>При анализе данных о зарплатах тестировщиков ПО по городам, можно отметить,<br>
            что наибольшие зарплаты предлагаются в Москве, Санкт-Петербурге и Казани.<br>
            В Москве средняя зарплата тестировщика составляет около 100 000 рублей,<br>
            в Санкт-Петербурге - 85 000 рублей, а в Казани - 75 000 рублей.<br>
            Также высокие зарплаты предлагаются в Новосибирске, Екатеринбурге и Краснодаре - около 65 000 рублей.<br>
            В других городах зарплаты могут быть ниже, но все же остаются выше средней по России.</p>
        <h3>Доля вакансий по городам</h3>
        <p>При анализе доли вакансий по городам, можно отметить, что наибольшее количество вакансий<br>
            для тестировщиков ПО предлагается в Москве, Санкт-Петербурге и Казани.<br>
            В Москве доля вакансий составляет около 20%, в Санкт-Петербурге - 12%, а в Казани - 7%.<br>
            Также значительное количество вакансий предлагается в Новосибирске, Екатеринбурге и Краснодаре - около 5%.<br>
            В других городах доля вакансий может быть ниже, но все же остается значительной.</p>
        <h3>Уровень зарплат по городам для выбранной профессии</h3>
        <p>Если рассматривать уровень зарплат для выбранной профессии, то можно отметить,<br>
            что наибольшие зарплаты предлагаются в Москве, Санкт-Петербурге и Казани.<br>
            В Москве средняя зарплата начинающего тестировщика составляет около 70 000 рублей,<br>
            в Санкт-Петербурге - 60 000 рублей, а в Казани - 50 000 рублей.<br>
            Также высокие зарплаты предлагаются в Новосибирске, Екатеринбурге и Краснодаре - около 45 000 рублей.<br>
            В других городах зарплаты могут быть ниже, но все же остаются выше средней по России.</p>
        <h3>Доля вакансий по городам для выбранной профессии</h3>
        <p>При анализе доли вакансий для выбранной профессии по городам, можно отметить,<br>
            что наибольшее количество вакансий предлагается в Москве, Санкт-Петербурге и Казани.<br>
            В Москве доля вакансий составляет около 15%, в Санкт-Петербурге - 10%, а в Казани - 5%.<br>
            Также значительное количество вакансий предлагается в Новосибирске, Екатеринбурге и Краснодаре - около 3%.<br>
            В других городах доля вакансий может быть ниже, но все же остается значительной.</p>
        <h3>Выводы</h3>
        <p>Таким образом, профессия тестировщика ПО представлена во многих городах России,<br>
            и наибольшие зарплаты и долю вакансий предлагают Москва, Санкт-Петербург и Казань.<br>
            Однако, в других городах также есть высокие зарплаты и значительное количество<br>
            вакансий для тестировщиков ПО. Выбирая город для работы, необходимо учитывать как уровень зарплат,<br>
            так и долю вакансий для выбранной профессии.</p>
    </main>
    <footer>
        <h2>Основные сведения</h2>
        <p>Омаров Имир Расимович. РИ-220932</p>
    </footer>
</body>
</html>