<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Главная страница</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body>
    <header>
        <h1><a href="/">ProfUse</a></h1>
        <nav>
            <ul>
                <li><a href="/">Главная страница</a></li>
                <li><a href="/demand">Востребованность</a></li>
                <li><a href="/geography">География</a></li>
                <li><a href="/skills">Навыки</a></li>
                <li><a href="/vacancies">Последнии вакансии</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Последние вакансии</h2>
        <h3>Название вакансии: Тестировщик ПО (Middle/Senior)</h3>
        <h4>Описание вакансии:</h4>
        <p>Компания ищет опытного тестировщика ПО для работы над проектами в сфере разработки<br>
            мобильных приложений. Вакансия предполагает работу в команде, тесное взаимодействие<br>
            с разработчиками и менеджерами проектов, а также участие в различных этапах<br>
            жизненного цикла ПО - от планирования до тестирования и деплоя.</p>
        <h4>Навыки:</h4>
        <p>знание основ программирования, опыт работы с тестовыми фреймворками<br>
            (например, Selenium, Appium), знание SQL и баз данных, опыт работы с системами<br>
            контроля версий (например, Git), умение работать в команде, навыки анализа<br>
            и интерпретации логов, опыт работы с автоматизированными тестами, знание технологий<br>
            мобильной разработки (iOS/Android), опыт работы с инструментами тестирования нагрузки.</p>
        <h4>Компания:</h4>
        <p>IT-компания, специализирующаяся на разработке мобильных приложений.</p>
        <h4>Оклад:</h4>
        <p>от 100 000 рублей до 150 000 рублей в месяц (зависит от опыта и квалификации кандидата).</p>
        <h4>Название региона:</h4>
        <p>Москва</p>
        <h4>Дата публикации вакансии</h4>
        <p>15 марта 2021 года.</p>
    </main>
    <footer>
        <h2>Основные сведения</h2>
        <p>Омаров Имир Расимович. РИ-220932</p>
    </footer>
</body>
</html>